{% extends "layout.html" %}
{% load static %}
{% block content %}

<hr style="color:  #fd7e14 !important;">

<!-- Programs Section-->
<section class="page-section programas" id="programas">
    <div class="container">
        <!-- Programs Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Programas</h2>
        <!-- Icon -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Program activity-->
        <div class="row justify-content-center">
            <!-- Program activity 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/habitos_saludables.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 2 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/medio_ambiente.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 3 -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/reciclaje.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 4 -->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/botella.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 5 -->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/coala.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 6 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/tapitas.png" %}" alt="..." />
                </div>
            </div>
            <!-- Program activity 7 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal7">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/seguridad.png" %}" alt="..." />
                </div>
            </div>
            <!-- Programa activity 8 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal8">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/bateria.png" %}" alt="..." />
                </div>
            </div>
            <!-- Programa activity 9 -->
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal9">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{% static "img/usuario/conociendo.png" %}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="color: #fd7e14 !important;">

<!-- Application section -->
<section class="page-section text-white mb-0" id="objetivo">
    <div class="container">
        <!-- Application section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">OBJETIVO DEL APLICATIVO</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Application section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    El aplicativo <strong>Bienestar y Felicidad</strong> tiene como objetivo sensibilizar de manera dinámica y divertida a todos los trabajadores de <strong>Positiva Compañía de Seguros - Sucursal Tolima</strong> sobre la importancia del bienestar integral.
                </p>
                <br>
                <p class="lead">
                    A través de siete programas, promovemos hábitos que garantizan el bienestar físico, mental y emocional, tanto personal como en el entorno en el que convivimos diariamente:
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    🌱 <strong>Hábitos saludables</strong>. <br>
                    🌍 <strong>Medio ambiente</strong>. <br>
                    ♻️ <strong>Reciclaje</strong>. <br>
                    💙 <strong>Botellitas de amor</strong>. <br>
                    🐨 <strong>Coala</strong> . <br>
                    🔵 <strong>Tapitas positivas</strong>. <br>
                    🔒 <strong>Seguridad de la información</strong>. <br>
                    ⚡ <strong>Ponte pilas con las pilas</strong>. <br>
                    💡 <strong>Conociendo crezco</strong>. <br>
                    📢 ¡Únete a esta iniciativa y contribuyamos juntos a un ambiente más saludable y positivo para todos! 💪✨
                </p>
            </div>
        </div>
        <!-- Application section Button-->
        <div class="text-center mt-4">
            <button class="btn btn-xl btn-outline-light" data-bs-toggle="modal" data-bs-target="#reglamentoModal">
                <i class="fa-solid fa-book"></i>
                REGLAMENTO
            </button>
        </div>
    </div>
</section>

<hr style="color: #fd7e14 !important;">

<!-- users Section-->
<section class="page-section" id="usuarios">
    <div class="container">
        <!-- users Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">USUARIOS</h2>
        <!-- Icon -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Section table -->
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered align-middle">
                        <thead style="background-color: #fd7e14 !important; color: white;">
                            <tr>
                                <th>AVATAR</th>
                                <th>NOMBRE COMPLETO</th>
                                <th>DOCUMENTO</th>
                                <th>CORREO</th>
                                <th>PUNTOS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuario %}
                                {% if usuario.is_active %}
                                    <tr>
                                        <td>
                                            {% if usuario.avatar %}
                                                <img src="{{ usuario.avatar.url }}" class="img-thumbnail rounded-circle" style="width: 80px; height: 80px;">
                                            {% else %}
                                                <img src="{% static 'img/avataaars.svg' %}" class="img-thumbnail rounded-circle" style="width: 80px; height: 80px;">
                                            {% endif %}
                                        </td>
                                        <td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
                                        <td>{{ usuario.numero_documento }}</td>
                                        <td>{{ usuario.correo }}</td>
                                        <td>{{ usuario.puntos_totales }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>                        
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if usuario.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&page={{ usuario.previous_page_number }}">
                                        <i class="fa-solid fa-arrow-left" style="color: #fd7e14;"></i> Anterior
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link" style="color: #fd7e14;"><i class="fa-solid fa-arrow-left" style="color: #fd7e14;">
                                        </i> Anterior
                                    </span>
                                </li>
                            {% endif %}

                            <li class="page-item disabled">
                                <span class="page-link">Página {{ usuario.number }} de {{ usuario.paginator.num_pages }}</span>
                            </li>

                            {% if usuario.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?q={{ query }}&page={{ usuario.next_page_number }}" style="color: #fd7e14;">
                                        Siguiente <i class="fa-solid fa-arrow-right" style="color: #fd7e14;"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">Siguiente <i class="fa-solid fa-arrow-right" style="color: #fd7e14;"></i></span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}