{% load static %}
<!-- Modals-->
<!-- Modal Hábitos saludables -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">HÁBITOS SALUDABLES</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image-->
                            <img class="img-fluid rounded mb-5" src="{% static 'img/usuario/habitos_saludables.png' %}" alt="Imagen de hábitos saludables" />
                            <!-- Text -->
                            <p class="mb-4">
                                Son esenciales para disfrutar de una vida más plena, reducir el riesgo de enfermedades, vivir más tiempo y con mejor calidad de vida.
                            </p>
                            <ul class="text-start">
                                <li>Una alimentación equilibrada, acompañada de frutas y verduras, reduce el riesgo de enfermedades crónicas como diabetes, hipertensión, enfermedades cardiovasculares y obesidad.</li>
                                <li>El ejercicio regular libera endorfinas, conocidas como las "hormonas de la felicidad", que mejoran el estado de ánimo, reducen el estrés y la ansiedad, y favorecen el bienestar mental.</li>
                                <li>La hidratación es importante en el cuerpo humano ya que regula la temperatura, es necesaria para la digestión, elimina toxinas y desechos, mantiene la piel saludable y previene dolores de cabeza y migrañas.</li>
                                <li>La cardio rumba mejora la salud cardiovascular, quema calorías, reduce el estrés y mejora el estado de ánimo.</li>
                                <li>Las pausas activas son fundamentales para prevenir enfermedades laborales, problemas físicos como dolores musculares o problemas circulatorios, mejorar la concentración, reducir el estrés y aumentar la energía y rendimiento laboral.</li>
                            </ul>
                            <p class="mb-4">
                                Para este programa, el trabajador debe estar fortalecido en amor propio, ya que podrá enviar una foto diaria por actividad para sumar puntos. Pero si su oponente lo encuentra realizando un hábito no saludable, se hará efectiva la resta de puntos correspondientes.
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="10"><strong>HÁBITOS SALUDABLES</strong></td>
                                            <td>Consume frutas</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Consume verduras</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Se hidrata</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Participa en cardio rumba</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Hace pausas activas</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>Consume dulces</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Consume comida chatarra</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>Consume gaseosas y jugos artificiales</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>No participa en cardio rumba</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>No hace pausas activas</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="mb-4">
                                Establecer hábitos saludables requiere compromiso, constancia y disciplina. Si me amo, debo cuidarme, priorizar mi salud y tomar decisiones más conscientes en mi vida cotidiana.
                            </p>

                            <p class="mb-4"><strong>“Ánimo, aquí puedes realizar muchos puntos diariamente.”</strong></p>

                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Medio ambiente -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">MEDIO AMBIENTE</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/medio_ambiente.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Cuidar el medio ambiente es fundamental, ya que influye tanto en nuestra calidad de vida actual como en el bienestar de las generaciones futuras. Por ello, es importante ahorrar energía, cuidar el agua y reducir el uso de papel.
                            </p>
                            <ul class="mb-4">
                                <li>
                                    Ahorrar energía ayuda a disminuir las emisiones de gases que contribuyen al cambio climático y, además, beneficia la economía, ya que reduce el costo de la electricidad.
                                </li>
                                <li>
                                    El uso irresponsable del agua pone en riesgo el acceso a este recurso para millones de personas, y su contaminación no solo afecta a los seres humanos, sino también a los ecosistemas acuáticos y a la fauna que depende de ellos.
                                </li>
                                <li>
                                    La producción de papel implica la tala de árboles, un recurso vital para la generación de oxígeno. Reduciendo el consumo de papel, se disminuye la deforestación, se protegen los bosques y se contribuye a la regulación del clima.
                                </li>
                            </ul>
                            <p class="mb-4">
                                Este programa cuenta con una evaluación mensual, en la cual los trabajadores serán evaluados al final de cada mes. Aquí, los oponentes serán los protagonistas, pues estarán atentos para enviar la evidencia fotográfica.
                            </p>
                            <p class="mb-4">
                                Es importante dejar claro que cualquier acción indebida por parte del trabajador deberá asumirse con responsabilidad y aceptación, fomentando el compromiso personal de evitar repetir el error.
                            </p>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="14">MEDIO AMBIENTE</td>
                                            <td>DEJA LUCES APAGADAS</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA COMPUTADOR APAGADO</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA AIRE ACONDICIONADO APAGADO</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <th>DEJA LAVAMANOS Y/O LAVAPLATOS CERRADO</th>
                                            <th>100</th>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>IMPRIME EN PAPEL RECICLABLE</td>
                                            <th>100</th>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>IMPRIME SOLO LO NECESARIO</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>APAGA LA IMPRESORA CUANDO NADIE LA NECESITA</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA LUCES PRENDIDAS</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA COMPUTADOR PRENDIDO</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA AIRE ACONDICIONADO PRENDIDO</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>DEJA MANOS Y/O LAVAPLATOS ABIERTO</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO IMPRIME EN PAPEL RECICLABLE</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>REIMPRIME INNECESARIAMENTE</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO APAGA LA IMPRESORA CUANDO NADIE LA NECESITA</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mb-4">
                                Para cuidar el Medio Ambiente solo se requiere voluntad y concentración. Si amo mi planeta, el lugar donde vivo, donde trabajo, debo ser responsable con la luz, el agua y el papel.
                            </p>
                            <strong class="mb-4">
                                “Animo, evita que tus puntos sean restados con estas malas actividades”
                            </strong><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Reciclaje -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RECICLAJE</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/reciclaje.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Reciclar es una forma de asumir nuestra responsabilidad ética y social hacia el planeta y las generaciones futuras. Si reciclamos, contribuimos a la preservación del entorno, permitiendo que las próximas generaciones disfruten de un mundo más saludable.
                            </p>
                            <ul class="mb-4">
                                <li>
                                    Al reciclar materiales como papel, plástico o vidrio, se evita la necesidad de producir nuevos productos desde cero, lo que reduce las emisiones de gases contaminantes a la atmósfera y previene el agotamiento acelerado de los recursos naturales.
                                </li>
                                <li>
                                    Reciclar ayuda a evitar la contaminación de ríos y mares, protegiendo la fauna acuática y marina.
                                </li>
                                <li>
                                    El reciclaje genera empleo, fomenta la economía local y contribuye al desarrollo sostenible.
                                </li>
                            </ul>
                            <p class="mb-4">
                                Para este programa, el trabajador debe conocer el uso adecuado de las canecas blanca, verde y negra, asegurándose de clasificar correctamente los residuos. Es obligatorio enviar evidencia fotográfica para sumar puntos mensuales. Sin embargo, si un oponente detecta un depósito inadecuado, se restarán los puntos correspondientes.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="6">RECICLAJE</td>
                                            <td>UTILIZA ADECUADAMENTE CANECA BLANCA</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>UTILIZA ADECUADAMENTE CANECA NEGRA</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>UTILIZA ADECUADAMENTE CANECA VERDE</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO UTILIZA ADECUADAMENTE CANECA BLANCA</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO UTILIZA ADECUADAMENTE CANECA NEGRA</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO UTILIZA ADECUADAMENTE CANECA VERDE</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mb-4">
                                Reciclar no es una opción, es una responsabilidad. Si quieres contribuir al planeta donde vives y donde habitan los seres que amas, ¡recicla!
                            </p>
                            <strong class="mb-4">
                                "Ánimo, aquí puedes sumar puntos positivos para el mes."
                            </strong><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Botellitas de amor -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">BOTELLITAS DE AMOR</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/botella.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Para este programa el trabajador debe enfocarse en recolectar y reciclar plásticos como envoltorios de golosinas y bolsas, y depositarlos en una Botella pipona mayor a 2 litros para obtener 500 puntos, <strong>o en su defecto una mayor a 250 cc hasta 2 litros para obtener 300 puntos</strong>, las cuales deben estar completamente compactadas y certificadas por un miembro del Voluntariado Ambiental. Las botellas pueden reciclarse desde casa o reciclarse en la oficina; pero si no presenta botellitas en el mes, se hará efectiva la resta de puntos correspondientes.
                            </p>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4">BOTELLITAS DE AMOR</td>
                                            <td>BOTELLA MAYOR A 2 LITROS</td>
                                            <td>500</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>BOTELLA MAYOR A 250 CC</td>
                                            <td>300</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO PRESENTA BOTELLA MAYOR A 2 LITROS</td>
                                            <td>-</td>
                                            <td>500</td>
                                        </tr>
                                        <tr>
                                            <td>NO PRESENTA BOTELLA MAYOR A 250 CC</td>
                                            <td>-</td>
                                            <td>300</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mb-4">
                                Las Botellitas de Amor no solo transforman plásticos, transforman vidas. Reciclar no es solo cuidar el medio ambiente, es construir un futuro mejor para todos.
                            </p>
                            <strong class="mb-4">
                                "¡Ánimo! Aquí puedes obtener la mayor puntuación del mes."
                            </strong><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Coala -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">COALA</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/coala.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Para este programa, la Gerente programará inspecciones a los puestos de trabajo sin previo aviso y designará a un funcionario de Planta para realizarlas. Dicho funcionario enviará las respectivas evidencias fotográficas, informando si el trabajador Cumple o No Cumple con las normas establecidas.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">COALA</td>
                                            <td>CUMPLE CON COALA</td>
                                            <td>200</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO CUMPLE CON COALA</td>
                                            <td>-</td>
                                            <td>200</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                            Cerrar Ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Tapitas positivas -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">TAPITAS POSITIVAS</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/tapitas.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Reciclar tapas de gaseosa es importante porque, aunque son objetos pequeños en nuestra vida diaria, su reciclaje es una práctica clave para reducir la contaminación, conservar recursos naturales y promover una economía más sostenible. Contribuir a su reciclaje no solo protege el medio ambiente y la biodiversidad, sino que también impulsa el cambio hacia un futuro más consciente y responsable, donde las acciones individuales generan un impacto positivo en la salud del planeta.
                            </p>
                            <p class="mb-4">
                                La suma de pequeñas acciones como esta puede representar un paso importante hacia una transformación más profunda en nuestras prácticas de consumo y gestión de residuos.
                            </p>
                            <p class="mb-4">
                                Para este programa, el trabajador debe recolectar y reciclar un mínimo de 10 tapas plásticas de gaseosa o medicamentos al mes para obtener 100 puntos. En caso de no alcanzar el mínimo requerido, se restarán los puntos correspondientes. El valor de puntos por cada tapa es 10.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="8">TAPITAS POSITIVAS</td>
                                            <td>ENTREGA MINIMO 10 TAPITAS</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>ENTREGA MINIMO 30 TAPITAS</td>
                                            <td>300</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>ENTREGA MINIMO 50 TAPITAS</td>
                                            <td>500</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>ENTREGA MINIMO 100 TAPITAS</td>
                                            <td>1000</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>ENTREGA MINIMO 200 TAPITAS</td>
                                            <td>200</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>ENTREGA MINIMO 300 TAPITAS</td>
                                            <td>300</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO ENTREGA TAPITAS POR MES</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="mb-4">
                                El futuro está en nuestras manos, y cada tapa reciclada es un paso hacia un planeta más limpio. Reciclando tapas, demuestras que las pequeñas acciones tienen un gran poder en la conservación del medio ambiente.
                            </p>
                            <strong class="mb-4">
                                "¡Ánimo! Aunque no tomes gaseosa, notarás en tu entorno la invasión de estas tapas."
                            </strong><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Seguridad de la información -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">SEGURIDAD DE LA INFORMACION</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/seguridad.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4">
                                Proteger la información y los recursos de la empresa es fundamental para garantizar la seguridad y el buen funcionamiento de nuestras actividades diarias. Siguiendo estas prácticas, contribuimos a un entorno más seguro y prevenimos riesgos innecesarios.
                            </p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="6">SEGURIDAD DE LA INFORMACION</td>
                                            <td>DEJO LAS CAJONERAS ASEGURADAS CON LLAVE</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>USO CARNÉ EN UN SITIO VISIBLE</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>DEJO MI EQUIPO BLOQUEADO CUANDO ME LEVANTO DEL ESCRITORIO</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO DEJO LAS CAJONERAS ASEGURADAS CON LLAVE</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO USO CARNÉ EN UN SITIO VISIBLE</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>NO DEJO MI EQUIPO BLOQUEADO CUANDO ME LEVANTO DEL ESCRITORIO</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ponte pilas con las pilas -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">PONTE PILAS CON LAS PILAS</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/seguridad.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4"></p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="4">PONTE PILAS CON LAS PILAS</td>
                                            <td>RECICLA 5 PILAS</td>
                                            <td>100</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>RECICLA 10 PILAS</td>
                                            <td>200</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>RECICLA 15 PILAS</td>
                                            <td>300</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO RECICLA PILAS</td>
                                            <td>-</td>
                                            <td>100</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Conociendo crezco -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">CONOCIENDO CREZCO</h2>
                            <!-- Icon -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" src="{% static "img/usuario/seguridad.png" %}" alt="..." />
                            <!-- Text -->
                            <p class="mb-4"></p>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-bordered">
                                    <thead style="background-color: orange; color: white;">
                                        <tr>
                                            <th>PROGRAMA</th>
                                            <th>ACTIVIDADES</th>
                                            <th>PUNTOS A FAVOR</th>
                                            <th>PUNTOS EN CONTRA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">CONOCIENDO CREZCO</td>
                                            <td>PARTICIPA EN CAPACITACIÓN</td>
                                            <td>200</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td>NO PARTICIPA EN CAPACITACIÓN</td>
                                            <td>200</td>
                                            <td>-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br><br>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Reglamento -->
<div class="portfolio-modal modal fade" id="reglamentoModal" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                ¡Bienvenidos al Juego del Bienestar y la Felicidad! 🎉
                            </h2>
                            <br>
                            <!-- Text -->
                            <p class="mb-4">
                                Este juego consta de 9 programas (Hábitos Saludables, Medio Ambiente, Reciclaje, Botellitas de Amor, Coala, Tapitas Positivas, Seguridad de la informacion, Ponte pilas con las pilas, Conociendo crezco), y cada programa tiene unas actividades que te pueden sumar puntos o restarlos.
                            </p>
                            <p class="mb-4">
                                Cada trabajador inicia con 1.000 puntos. Si realizas actividades de Bienestar y Felicidad en el mes, podrás sumar puntos, pero si no las realizas o tienes malas acciones, los puntos se te restarán.
                            </p>
                            <p class="mb-4">
                                Para sumar puntos, cada trabajador debe enviar la evidencia fotográfica al grupo de WhatsApp de Bienestar de la Sucursal, para que el Administrador, que es el Gestor Humano o de la Felicidad, suba la evidencia al aplicativo, y este asigne los puntos correspondientes a la actividad. Solo se puede enviar una foto diaria por actividad.
                            </p>
                            <p class="mb-4">
                                Para restar puntos, los trabajadores oponentes deben enviar la evidencia fotográfica al grupo de WhatsApp de Bienestar de la Sucursal, para que el Administrador, que es el Gestor Humano o de la Felicidad, suba la evidencia al aplicativo, y este reste los puntos correspondientes a la actividad. Solo se puede enviar una foto diaria por actividad.
                            </p>
                            <p class="mb-4">
                                Es importante resaltar que, en el momento en que los oponentes envíen la evidencia de la mala acción, los trabajadores infractores deben evitar cualquier pensamiento negativo hacia el oponente; aquí nada es personal. Recuerde que esto es solo un juego donde todos vamos a aprender a ser mejores seres humanos y a ser felices.
                            </p>
                            <p class="mb-4">
                                Al final del mes, en el Comité General, el aplicativo arrojará la puntuación de cada trabajador, y quien tenga más puntos será el Feliz Ganador de un obsequio concedido por la Gerente de la Sucursal.
                            </p>
                            <p class="mb-4">
                                Cada trabajador tendrá un usuario y contraseña en el aplicativo para que pueda ingresar, revisar sus puntos y las evidencias, tanto propias como las de los demás.
                            </p>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>