{% load static %}
<!-- Modales -->
<!-- Modal Contactanos -->
<div class="portfolio-modal modal fade" id="contactanos" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="modal-title text-center text-uppercase mb-0">
                                Contáctanos
                            </h2>
                            <!-- Image -->
                            <img src="{% static "img/contactanos.webp" %}" alt="Imagen de contactanos" class="img-fluid rounded mb-5">
                            <!-- Text -->
                            <div class="text-start">
                                <p class="mb-4">
                                    Si tienes preguntas, comentarios o necesitas soporte relacionado con nuestro aplicativo, no dudes en ponerte en contacto con nosotros. Nuestro equipo está disponible para atenderte y brindarte la mejor asistencia posible.
                                </p>
                                <div class="list-information">
                                    <strong>
                                        <p class="mb-4">
                                            1. Información de Contacto
                                        </p>
                                    </strong>
                                    <ul>
                                        <li>
                                            <strong>Correo Electrónico:</strong> nicolaspv@gmail.com
                                        </li>
                                        <li>
                                            <strong>Teléfono:</strong> +57 310 207 5306
                                        </li>
                                        <li>
                                            <strong>Horario de atención:</strong> Lunes a viernes, de 8:00 pm a 5:00 pm
                                        </li>
                                        <li>
                                            <strong>Dirección:</strong> Ambito laboral
                                        </li>
                                    </ul>
                                </div>
                                <div class="tecnic-suport">
                                    <strong>
                                        <p class="mb-4">
                                            2. Soporte Técnico
                                        </p>
                                    </strong>
                                    <p class="mb-4">
                                        Si experimentas problemas con el uso del panel de administrador, puedes comunicarte con nuestro equipo de soporte. Para una mejor asistencia, proporciona detalles específicos sobre el inconveniente, incluyendo mensajes de error o capturas de pantalla si es necesario.
                                    </p>
                                </div>
                                <div class="query-all">
                                    <strong>
                                        <p class="mb-4">
                                            3. Consultas Generales
                                        </p>
                                    </strong>
                                    <p class="mb-4">
                                        Si necesitas información sobre los servicios, funcionalidades o políticas del aplicativo, puedes enviarnos un correo o llamarnos durante el horario de atención.
                                    </p>
                                </div>
                                <div class="updates">
                                    <strong>
                                        <p class="mb-4">
                                            4. Sugerencias y Mejoras
                                        </p>
                                    </strong>
                                    <p class="mb-4">
                                        Apreciamos tus comentarios y sugerencias para mejorar nuestra plataforma. Si tienes ideas o recomendaciones, háznoslo saber y nuestro equipo las evaluará.
                                    </p>
                                </div>
                                <div class="support-report">
                                    <strong>
                                        <p class="mb-4">
                                            5. Reporte de incidentes
                                        </p>
                                    </strong>
                                    <p class="mb-4">
                                        Si detectas alguna vulnerabilidad, error o problema de seguridad en el sistema, te pedimos que nos informes de inmediato a través de nuestro canal de soporte.
                                    </p>
                                </div>
                                <div class="comment">
                                    <p class="mb-4">
                                        Nos comprometemos a responderte lo antes posible y brindarte la mejor solución a tu consulta.
                                    </p>
                                </div>
                            </div>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sobre nosotros -->
<div class="portfolio-modal modal fade" id="sobreNosotros" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="modal-title text-center text-uppercase mb-0">
                                Sobre Nosotros
                            </h2>
                            <!-- Image -->
                            <img src="{% static "img/about_us.png" %}" alt="Imagen de contactanos" class="img-fluid rounded mb-5">
                            <!-- Text -->
                            <div class="text-start">
                                <p class="mb-4">
                                    El <strong>Panel de Administrador</strong> de <strong>Bienestar y Felicidad</strong> está diseñado para gestionar eficientemente los usuarios, la autenticación y la administración de programas y actividades dentro de la plataforma.
                                </p>
                                <p class="mb-4">
                                    Dentro del panel, se pueden realizar las siguientes acciones clave:
                                </p>
                                <ul>
                                    <li><strong>Usuarios:</strong> Administración de cuentas de usuario, roles y permisos.</li>
                                    <li><strong>Autenticación:</strong> Registro de nuevos usuarios, recuperación de contraseña con mensajes personalizados y gestión de accesos.</li>
                                    <li><strong>Puntos y Programas:</strong> Creación y gestión de programas enfocados en el bienestar de los trabajadores.</li>
                                    <li><strong>Actividades:</strong> Registro, monitoreo y evaluación de actividades dentro de cada programa.</li>
                                </ul>
                                <p class="mb-4">
                                    Este panel facilita la administración y personalización de la plataforma, asegurando una experiencia óptima para todos los usuarios involucrados en la promoción del bienestar y la felicidad.
                                </p>
                            </div>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Terminos y condiciones -->
<div class="portfolio-modal modal fade" id="terminosCondiciones" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="modal-title text-center text-uppercase mb-0">
                                Términos y Condiciones
                            </h2>
                            <!-- Image -->
                            <img src="{% static "img/terminos_condiciones.jpg" %}" alt="Imagen de contactanos" class="img-fluid rounded mb-5">
                            <!-- Text -->
                            <div class="text-start">
                                <p class="mb-4">
                                    Bienvenido al Panel de Administrador de [Nombre del Aplicativo]. Al acceder y utilizar esta plataforma, usted acepta cumplir con los siguientes términos y condiciones. Si no está de acuerdo con alguna de estas condiciones, le recomendamos que no utilice el servicio.
                                </p>
                                <strong><p class="mb-4">1. Uso del Servicio</p></strong>
                                <ul>
                                    <li>El acceso está restringido a usuarios autorizados.</li>
                                    <li>Debe utilizar el panel exclusivamente para la gestión del aplicativo.</li>
                                    <li>No está permitido el uso del panel para actividades fraudulentas.</li>
                                </ul>
                                <strong><p class="mb-4">2. Registro y Seguridad</p></strong>
                                <ul>
                                    <li>Debe mantener la confidencialidad de sus credenciales.</li>
                                    <li>Informar sobre accesos no autorizados de inmediato.</li>
                                </ul>
                                <strong><p class="mb-4">3. Privacidad y Protección de Datos</p></strong>
                                <ul>
                                    <li>El administrador debe manejar la información con responsabilidad.</li>
                                    <li>No se permite compartir datos de usuarios sin autorización.</li>
                                </ul>
                                <strong><p class="mb-4">4. Propiedad Intelectual</p></strong>
                                <ul>
                                    <li>El contenido del panel está protegido por derechos de autor.</li>
                                    <li>No se permite la modificación o distribución sin permiso.</li>
                                </ul>
                                <strong><p class="mb-4">5. Modificaciones</p></strong>
                                <ul>
                                    <li>Nos reservamos el derecho de modificar estos términos.</li>
                                    <li>Se notificará a los administradores sobre cambios significativos.</li>
                                </ul>
                                <strong><p class="mb-4">6. Terminación del Acceso</p></strong>
                                <ul>
                                    <li>Podemos suspender el acceso en caso de incumplimiento.</li>
                                    <li>El usuario puede solicitar la desactivación de su cuenta.</li>
                                </ul>
                                <p class="mb-4">Si tiene preguntas sobre estos términos, contáctenos a través de [correo electrónico o formulario de contacto].</p>
                            </div>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Cerrar ventana
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>